html,
body {
    font-family: 'Heebo', sans-serif;
}

hr {
    margin-top: 30px;
}

main {
    margin-left: 235px;
    margin-right: 235px;
    margin-top: 106px;
}

nav {
    text-align: end;
    margin-top: 27px;
    margin-right: 60px;
}

nav span {
    margin-left: 20px;
}

.nav-blog {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;

}

.nav-works {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.nav-contact {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.active-page {
    color: #FF6464;

}

.nav main {
    margin: 182px;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    /* or 136% */


    /* Dark Color */

    color: #21243D;
}

.blog-item h3 {
    font-weight: 500;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.blog-item .published-date {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
}

.blog-item .category {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;

}

.blog-item .separator {
    font-size: 20px;
}